*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: linear-gradient(-45deg, #80FFDB, #5E60CE, #48BFE3, #64DFDF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.form{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 400px;
    margin: 2% auto;
    background: rgba( 215, 237, 237, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.add-form{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-weight: normal;
    font-size: 20px;
}

input{
    margin: 10%;
   height: 2rem;
}

button{
    width: 5rem;
    height: 2rem;
    padding: 5px;
    margin: 5px auto;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button.noselect {
      width: 150px;
      height: 60px;
      cursor: pointer;
      margin: 0 auto;
      font-size: 20px;
      font-weight: bold;
      color: black;
      background: transparent;
      border: 2px solid #49b2f0;
      box-shadow: 3px 3px 0 #49b2f0,
          -3px -3px 0 #49b2f0,
          -3px 3px 0 #49b2f0,
          3px -3px 0 #49b2f0;
      transition: 500ms ease-in-out;
  }
  
  button:hover {
      box-shadow: 20px 5px 0 black, -20px -5px 0 black;
  }
  
  button:focus {
      outline: none;
  }