*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.login{
  display: flex;
  background-color: #c3dbd8;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
}

.login:hover{
  font-size: 1.5rem;
}

.word{
  color: #000;
  font-weight: bolder;
}

.word:hover{
  font-size: 1rem;
  letter-spacing: 5px;
}

.welcome{
  font-weight: lighter;
}

.only{
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;

}

.books{
  font-family: 'Dancing Script', cursive;
  color: #49b2f0;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}


.btn{
  border: none;
  background-color: transparent;
  color: #000;
  margin: 10px;
}


.images{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 10px;

}

.image{
  width: 200px;
  height: 300px;
}

.book-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 5% auto;
}

.categories{
height: 2.5rem;
width: 5rem;
background-color: #fff;
border: none;
box-shadow: 1px 1px 0px #858383;
}

.only{
  font-weight: 200;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;

}

.books{
  font-family: 'Dancing Script', cursive;
  color: #49b2f0;
}

.romance-book{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

.thriller-book{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

.non-fic-book{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

.horror-book{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGJvb2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}


section:nth-child(odd){
  background-color: #fafafa;
}

button{
  width: 7rem;
  height: 2rem;
  padding: 5px;
  margin: 5% auto;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

button.noselect {
  width: 150px;
  height: 60px;
  cursor: pointer;
  margin: 5px auto;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: transparent;
  border: 2px solid #49b2f0;
  box-shadow: 3px 3px 0 #49b2f0,
      -3px -3px 0 #49b2f0,
      -3px 3px 0 #49b2f0,
      3px -3px 0 #49b2f0;
  transition: 500ms ease-in-out;
}

button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
  .book-container {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .nav{
    width: 100%;
  }

  .login{
    width: 100%;
    height: 4rem;
  }
}

@media screen and (max-width: 1204px) {
  .book-container {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .nav{
    width: 100%;
  }

  .login{
    width: 100%;
    height: 2rem;
  }
} 