* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.word{
    color: #000;
    font-weight: bolder;
}
  

.word:hover{
font-size: 1rem;
letter-spacing: 3px;
}

.only{
font-weight: 200;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-family: 'Montserrat', sans-serif;

}

.books{
    font-family: 'Dancing Script', cursive;
    color: #49b2f0;
}

.login{
    display: flex;
    background-color: #c3dbd8;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.welcome{
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
}

.only{
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Montserrat', sans-serif;

}

.btn{
    border: none;
    background-color: transparent;
    color: #000;
}


.login:hover{
    font-size: 1.5rem;
    padding: 5px;
}

.books{
    font-family: 'Dancing Script', cursive;
    color: #49b2f0;
}

.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}
button{
    width: 7rem;
    height: 2rem;
    padding: 5px;
    margin: 5px auto;
  }
  
  .noselect {
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
            -webkit-tap-highlight-color: transparent;
  }
  
  button.noselect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin: 2% auto;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: transparent;
    border: 2px solid #49b2f0;
    box-shadow: 3px 3px 0 #49b2f0,
        -3px -3px 0 #49b2f0,
        -3px 3px 0 #49b2f0,
        3px -3px 0 #49b2f0;
    transition: 500ms ease-in-out;
  }
  
  button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
  }
  
  button:focus {
    outline: none;
  }

  .btn{
    border: none;
    background-color: transparent;
    color: #000;
}

  .book-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }

  img{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }

  h4{
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px;   
  }

  @media screen and (max-width: 600px) {
    .book-container {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }
    
    p{
      margin: 10px;
    }
    .nav{
      width: 100%;
    }
  
    .login{
      width: 100%;
      height: 4rem;
    }
  }
  
  @media screen and (max-width: 1204px) {
    .book-container {
      width: 100%;
      padding: 10px;
      flex-direction: column;
    }
  
    .nav{
      width: 100%;
    }
  
    .login{
      width: 100%;
      height: 2rem;
    }
  } 